[submodule ".github/phpstan/pmforms"]
	path = .github/phpstan/pmforms
	url = https://github.com/dktapps-pm-pl/pmforms
[submodule ".github/phpstan/FormAPI"]
	path = .github/phpstan/FormAPI
	url = https://github.com/DaPigGuy/FormAPI-4.0.0
[submodule ".github/phpstan/InvMenu"]
	path = .github/phpstan/InvMenu
	url = https://github.com/Muqsit/InvMenu
[submodule ".github/phpstan/Commando"]
	path = .github/phpstan/Commando
	url = https://github.com/CortexPE/Commando
[submodule ".github/phpstan/ScoreHud"]
	path = .github/phpstan/ScoreHud
	url = https://github.com/Ifera/ScoreHud
[submodule ".github/phpstan/libasynql"]
	path = .github/phpstan/libasynql
	url = https://github.com/poggit/libasynql
[submodule ".github/phpstan/PiggyCustomEnchants"]
	path = .github/phpstan/PiggyCustomEnchants
	url = https://github.com/DaPigGuy/PiggyCustomEnchants/
[submodule ".github/phpstan/PortableCrafting"]
	path = .github/phpstan/PortableCrafting
	url = https://github.com/Muqsit/PortableCrafting
[submodule ".github/phpstan/FI-Utils"]
	path = .github/phpstan/FI-Utils
	url = https://github.com/JinodkDevTeam/FI-Utils
[submodule ".github/phpstan/DiscordWebhookAPI"]
	path = .github/phpstan/DiscordWebhookAPI
	url = https://github.com/CortexPE/DiscordWebhookAPI
	branch = PM4
