parameters:
    level: 8
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Parameter \#1 \$enchantment of method pocketmine\\item\\Item::getEnchantment\(\) expects pocketmine\\item\\enchantment\\Enchantment, pocketmine\\item\\enchantment\\Enchantment\|null given.#'
        - '#Parameter \#1 \$enchantment of method pocketmine\\item\\Item::hasEnchantment\(\) expects pocketmine\\item\\enchantment\\Enchantment, pocketmine\\item\\enchantment\\Enchantment\|null given.#'
        - '#Parameter \#[1234567890] \$title of method [a-zA-Z0-9\\_]+::setTitle\(\) expects string, mixed given.#'
        - '#Parameter \#[1234567890] \$content of method [a-zA-Z0-9\\_]+::setContent\(\) expects string, mixed given.#'
        - '#Parameter \#[1234567890] \$text of method [a-zA-Z0-9\\_]+::addButton\(\) expects string, mixed given.#'
        - '#Parameter \#[1234567890] \$title of method [a-zA-Z0-9\\_]+::__construct\(\) expects string, mixed given.#'
        - '#Parameter \#[1234567890] \$text of method [a-zA-Z0-9\\_]+::__construct\(\) expects string, mixed given.#'
        - '#Parameter \#[1234567890] \$text of class [a-zA-Z0-9\\_]+ constructor expects string, mixed given.#'
        - '#Call to function in_array\(\) requires parameter \#3 to be set.#'
        - '#Call to function array_search\(\) requires parameter \#3 to be set.#'
        - '#Only booleans are allowed in [a-zA-Z0-9\\_ ]+, [a-zA-Z0-9\\|,<>_ ]+ given.#'
        - '#Call to method [a-zA-Z0-9\\_()]+ on an unknown class CLADevs\\VanillaX\\enchantments\\utils\\EnchantmentTrait.#'
        - '#PHPDoc tag @var for variable \$[a-zA-Z0-9\\_()]+ contains unknown class CLADevs\\VanillaX\\enchantments\\utils\\EnchantmentTrait.#'
    paths:
        - BlankFix
        - BurgerCustomArmor
        - CosmicSpawners
        - GrapplingHook
        - MagicBankUI
        - MagicBookShop
        - MagicCraft
        - MagicCommandSpy
        - MagicCore
        - MagicEnchantmentTable
        - MagicHealthDefense
        - MagicIsland
        - MagicMinion
        - MagicSkills
        - MagicSpawners
        - MagicQuest
        - MagicTrade
        - MagicWorldRegen
        - PortalsPE
        - PurePerms
        - SellAll
        - SellWands
        - SmeltWands
        - TempRanks
    excludePaths:
        analyse:
            - BurgerCustomArmor/src/Heisenburger69/BurgerCustomArmor/Abilities/AbilityUtils.php
            - vendor
        analyseAndScan:
            - vendor/pocketmine/pocketmine-mp/src/event/Listener.php
